<form [formGroup]="searchForm">
    <div class="form-group">
        <input type="text" formControlName="searchText" class="form-control" 
            placeholder="Search for items" />
    </div>
</form>

<app-response-messages [errorMessages]="errorMessages"></app-response-messages>

<mat-paginator [length]="pageLength"
    [pageSize]="pageSize"
    [hidePageSize]="true"
    (page)="setPage($event)">
</mat-paginator>

<table [class]="TABLE_CSS">
    <thead class="thead-dark">
        <tr>
            <th>Item S/N</th>
            <th>Name</th>
            <th>Price</th>
            <th *ngIf="role == 'SHOPOWNER'">Update</th>
            <th *ngIf="role == 'SHOPOWNER'">Delete</th>
            <th *ngIf="role == 'CUSTOMER'">Add to Cart</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of itemsToDisplay">
            <td>{{ item.id }}</td>
            <td>{{ item.name }}</td>
            <td>${{ item.price }}</td>
            <td *ngIf="role == 'SHOPOWNER'">
                <button (click)="onUpdate(item.id)" class="btn btn-primary">Update</button>
            </td>
            <td *ngIf="role == 'SHOPOWNER'">
                <button (click)="onDelete(item.id)" class="btn btn-danger">Delete</button>
            </td>
            <td *ngIf="role == 'CUSTOMER'">
                <app-cart-form [item]="item" (addedToCart)="onAddedToCart($event)"></app-cart-form>
            </td>
        </tr>
    </tbody>
</table>