<form [formGroup]="itemForm">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" formControlName="name" class="form-control" id="name"/>
    </div>

    <div class="form-group">
        <label for="price">Price</label>
        <input type="text" formControlName="price" class="form-control" id="price"/>
    </div>

    <input type="submit" (click)="onSubmit()" [disabled]="!itemForm.valid" 
        value="Submit" class="btn btn-success" />
</form>

<app-response-messages [responseMessages]="responseMessages"></app-response-messages>